<div class="container">
  <div class="movie">
      <img src="https://es.web.img2.acsta.net/medias/nmedia/18/80/56/45/19549127.jpg" alt="Poster de película">
      <div class="movie-details">
          <h2>La sirenita</h2>
          <p><strong>Director:</strong> Ron Clements y John Musker</p>
          <p><strong>Año:</strong> 1989</p>
          <p><strong>Género:</strong> <span class="genre"> Comedia, Fantasía</span></p>
          <p>$30.00</p>
      </div>
  </div>

  <div class="movie">
      <img src="https://es.web.img3.acsta.net/medias/nmedia/18/68/20/31/19785394.jpg?coixp=47&coiyp=41" alt="Poster de película">
      <div class="movie-details">
          <h2>El rey León</h2>
          <p><strong>Director:</strong> Rob Minkoff y Roger Allers</p>
          <p><strong>Año:</strong> 1994</p>
          <p><strong>Género:</strong> <span class="genre"> Drama, Aventuras</span></p>
          <p></p>
      </div>
  </div>
</div>